.skill-name{
  margin: 50px;
  font-weight: bold;
  font-size: 30px;
} 

.project-style{
  color: white;
}
.card-body{
  padding: 10px 10px 10px 10px !important;
  background-color: #404040 !important;
}
